<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/AbdElRahman/IdeaProjects/TheInternet">
        <classes>
            <class name="theInternet.pages.subPages.AddRemoveElementsPageTest">
                <methods>
                    <include name="addElementAndCheckThatTheDeleteElementIsVisible"/>
                    <include name="addMultipleElementsAndCheckThatTheDeleteElementAreVisible"/>
                    <include name="testDeletingAllDisplayedElements"/>
                </methods>
            </class>
            <class name="theInternet.pages.subPages.CheckboxesPageTest">
                <methods>
                    <include name="testCheckingTheFirstCheckbox"/>
                    <include name="testCheckingTheSecondCheckbox"/>
                </methods>
            </class>
            <class name="theInternet.pages.subPages.DropdownPageTest">
                <methods>
                    <include name="testSelectingOptionsFromTheDropdownList"/>
                    <include name="testSelectingInvalidOptionFromTheDropdownList"/>
                </methods>
            </class>
            <class name="theInternet.pages.subPages.InputsPageTest">
                <methods>
                    <include name="testSendingNumbersToTheInputElement"/>
                </methods>
            </class>
            <class name="theInternet.pages.subPages.KeyPressesPageTest">
                <methods>
                    <include name="testSendingTextToTheInput"/>
                </methods>
            </class>
            <class name="theInternet.pages.subPages.formAuth.FormAuthPageTest">
                <methods>
                    <include name="testValidUsernameValidPassword"/>
                    <include name="testValidUsernameInvalidPassword"/>
                    <include name="testInvalidUsernameValidPassword"/>
                    <include name="testInvalidUsernameInvalidPassword"/>
                    <include name="testLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>